{% extends "base.html" %}

{% block titulo %} MyWallapop {% endblock %}

{% block infonav %}
<li>
  <ul class="no-indent">
    <li id="my-email">{{ email }}</li>
    {% if tipo=="Normal" %}
    <li id="my-money">{{ dinero.toFixed(2) }} €</li>
    {% endif %}
  </ul>
</li>
{% endblock %}

{% block optionsnav %}
{% if tipo=="Admin" %}
<li id="users-menu" class="dropdown">
  <a class="dropdown-toggle" id="menu-users"
     data-toggle="dropdown" href="#"> Gestión de Usuarios <span
          class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/usuario/lista" id="list-users">Ver Usuarios</a></li>
  </ul>
</li>
{% else %}
<li class="dropdown">
  <a id="items-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">
    Gestión de ofertas <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" >
    <li>
      <a href="/oferta/agregar" id="agregar-oferta">Agregar oferta</a>
    </li>
    <li>
      <a href="/oferta/lista" id="mis-ofertas">Mis ofertas</a>
    </li>
    <li>
      <a href="/oferta/tienda" id="tienda">Tienda</a>
    </li>
    <li>
      <a href="/oferta/compradas" id="mis-compras">Mis compras</a>
    </li>
    <li>
      <a href="/oferta/destacadas" id="mis-destacadas">Tienda destacada</a>
    </li>
  </ul>
</li>
<li>
  <a href="/cliente.html?w=login">
    Cliente
  </a>
</li>
{% endif %}
{% endblock %}

{% block lognav %}
<li>
  <a href="/desconectarse">
    <span class="glyphicon glyphicon-log-out"></span> Desconectar
  </a>
</li>
{% endblock %}



{% block contenido_principal %}
<h2>Bienvenido</h2>
{% endblock %}