{% extends "home.html" %}

{% block contenido_principal %}
<div class="container">
  <h2>Ofertas</h2>
  <h3>Mis ofertas</h3>
  <form action='@{/user/list}' method="POST">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
          <td>{{ oferta.titulo }}</td>
          <td>{{ oferta.detalles }}</td>
          <td>{{ oferta.precio }}</td>
          <td><input type="checkbox" value="{{ loop.key }}" id="{{ loop.key }}"/></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <button type="submit" value="delete" class="btn btn-primary" id="delete">Eliminar seleccionados</button>
    </div>
  </form>
</div>
{% endblock %}