{% extends "base.html" %}

{% block titulo %} MyWallapop {% endblock %}

{% block infonav %}
<li>
  <ul class="no-indent">
    <li>
      {{ email }}
    </li>
    {% if tipo=="Normal" %}
    <li>
      {{ dinero.toString() }} €
    </li>
    {% endif %}
  </ul>
</li>
{% endblock %}

{% block optionsnav %}
{% if tipo=="Admin" %}
<li id="users-menu" class="dropdown">
  <a class="dropdown-toggle" id="menu-users"
     data-toggle="dropdown" href="#"> Gestión de Usuarios <span
          class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/usuario/lista" id="list-users">Ver Usuarios</a></li>
  </ul>
</li>
{% else %}
<li id="items-menu" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Gestión de ofertas <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" >
    <li>
      <a href="/oferta/agregar">Agregar oferta</a>
    </li>
    <li>
      <a href="/oferta/lista">Mis ofertas</a>
    </li>
    <li>
      <a href="/oferta/tienda">Tienda</a>
    </li>
  </ul>
</li>
{% endif %}
{% endblock %}

{% block lognav %}
<li>
  <a href="/desconectarse">
    <span class="glyphicon glyphicon-log-out"></span> Desconectar
  </a>
</li>
{% endblock %}



{% block contenido_principal %}

{% endblock %}