.no-indent {
    list-style: none;
    color: #9d9d9d;
    margin: 5px 10px 0px -25px;
}

.glyphicon{
    margin-right: 5px;
}

.showPrice{
    border-style: none;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}